.container{
    display: 'flex';
    flex-grow: 'wrap';
    width: 400;
    margin: auto;
  }
.loginBtn{
    margin-top: 2;
    flex-grow: 1;
  }
.header{
    text-align: 'center';
    background-color: '#212121';
    color: '#fff';
  }
.card{
    margin-top: 10;
  }